.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.active{
  color:antiquewhite;
}
.pCard, .productsHeading{
  width: 100%;
  display: grid;
  text-align: left;
  grid-template-columns: 120px 200px 500px 70px 70px auto;
}
.productsHeading{
  font-weight: bold;
  padding:0.5rem;
  background-color: rgb(225, 228, 228);
}
.pCard div{
padding:0.5rem;  
}
.dash-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 170px;
  width: 170px;
  background-color: rgb(229, 229, 229);
  border-radius: 24px;
}
.dash-card span{
  font-size: x-large;
  font-weight: bold;

}
input, textarea , select{
  border:1px solid;
  border-radius: 10px;
  padding:0.5rem;
}